<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.service.andrewsamir.main"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.LogIn"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Data_Show"
            android:parentActivityName=".KashfList">
            <intent-filter>
                <action android:name="android.intent.action.Data_Show" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KashfList"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.Kash_List" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Absent"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.Absent" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Eftkad"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.Eftkad" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Absent_list"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.Absent_list" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Enter_Data"
            android:parentActivityName=".Activities.HOME"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.Enter_Data" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Edit_Data"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.Edit_Data" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>

        <service
            android:name=".Services.GetData"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Birthdate"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.HOME"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.Home" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SetAbsentActivity"
            android:label="@string/title_activity_set_absent"
            android:noHistory="true"
            android:parentActivityName=".Activities.HOME"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.service.andrewsamir.main.Activities.HOME" />
        </activity>
        <activity
            android:name=".Activities.Splash"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3b9c7f980f92f6963cd5070716c2b211ac2e0af3" />

        <activity
            android:name=".DataNewActivity"
            android:label="@string/title_activity_data_new"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>